<!DOCTYPE html>
<html>
<head>
    <title>Smart Lost and Found Portal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

<h1>Smart Lost and Found Portal</h1>

<hr>

<p>Helping people recover lost belongings quickly and securely.</p>

<button onclick="window.location.href='/report-lost'">Report Lost Item</button>

<button onclick="window.location.href='/report-found'">Report Found Item</button>

<button onclick="window.location.href='/search'">Search Items</button>

<button onclick="window.location.href='/login'">Login</button>

<button onclick="window.location.href='/register'">Register</button>

</div>

</body>
</html>