<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

<h1>User Login</h1>

<p>Login to your Smart Lost and Found account.</p>

<hr>

<form method="POST">

<label>Email</label>
<input type="email" name="email" placeholder="Enter your email" required>

<label>Password</label>
<input type="password" name="password" placeholder="Enter your password" required>

<input type="submit" value="Login">

</form>

<br>

<button onclick="window.location.href='/'">Back to Home</button>

</div>

</body>
</html>